.Blockchain {
    text-align: center;
    background-color: rgb(236, 250, 255);
    padding: 10px;
  }





.Blockchain-display {
    text-align: center;
    background-color: rgba(199, 199, 199, 0.253);
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    margin: auto;
    width: 90%;

      }




 
