.block-img {
    height: 4rem;
    width: 4rem;
    padding: 1rem;

}
 

.valid {
    text-align: left;
    word-wrap: break-word;
    margin: 10px;
}


.modified {
    text-align: left;
    word-wrap: break-word;
    color: red;
    margin: 10px;
}