.NewTransaction {
    text-align: center;
    background-color: rgb(199, 199, 199);
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    margin: auto;
    width: 80%;
    

  }


button {
    background-color: rgb(94, 94, 94);  
    border: none;
    color: white;
    padding: 15px 15px 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 10px;
}

button:hover {
  border: none;
  color: rgb(22, 224, 39);
}




button:disabled  {
  background-color: rgb(146, 146, 146);  
  border: none;
  color: rgba(194, 194, 194, 0.774);
  padding: 15px 15px 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 10px;
}


.column-in-center{
  
  margin: 0 auto;
}


@media screen and (max-width: 900px) {
  .NewTransaction {
    text-align: center;
    background-color: rgb(199, 199, 199);
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    margin: auto;
    width: 100%;
    

  }
  
}




.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}