.App {
  text-align: center;
}

.App-logo {
   height: 60px;
}

.App-header {
  background-color: rgb(255, 255, 255);
  height: 10%;
 
  color: rgb(0, 0, 0);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

 
@media screen and (max-width: 800px) {

  .App-header {
    background-color: rgb(255, 255, 255);
    height: 10%;
    color: rgb(0, 0, 0);
  }
  .App-logo {
     height: 5rem;
  }
  
}